# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.JsonSerialize.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\t2421\ue4\JsonSerialize\.idea\.idea.JsonSerialize\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
